p{
    color:darkred;
    background-color: lightblue;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: underline;
    border-color: red;
    border-style: dashed;
}
.divStyle{
    background-color: azure;
    width: 450px;
    border-style: solid;
    border-color: blue;
    margin: auto;
}