.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.calculatorTable {
    border-collapse: collapse;


    border-radius: 10px;
}

.inputBox {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003d82;
}

.answer {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f0f8ff;
    transition: background-color 0.3s, color 0.3s;
}

.answer.highlight {
    background-color: #d4edda; /* Light green background */
    color: #155724;          /* Dark green text */
}
